@model IEnumerable<Drakflygaren.Models.LocationFavorite>

<div class="list-group">
    @if (Model.Count() > 0)
    {
        foreach (var locationFavorite in Model)
        {

            <a data-id="@locationFavorite.LocationId" href="@Url.Action("Details", new { locationId = locationFavorite.Location.Id })" class="list-group-item location-row">
                <input class="cityLat" hidden value="@locationFavorite.Location.Latitude" />
                <input class="cityLong" hidden value="@locationFavorite.Location.Longitude" />
                <div><strong>@locationFavorite.Location.Name</strong><span class="pull-right"><img class="weatherIcon" alt="weather" /></span></div>
                <div>@locationFavorite.Location.City</div>
                <div>
                    <span class="cityTemp"></span>
                    <span>Grader</span><span class="pull-right">
                        <span class="cityWind"></span>
                        <span>m/s</span>
                        <span class="fa fa-location-arrow direction"></span>
                    </span>
                </div>
            </a>
        }
    }
    else
    {
        <p>Lägg till dina favoriter genom att trycka på hjärtat för aktuell rad i listan med platser</p>
    }
</div>