@model IEnumerable<Drakflygaren.ViewModels.LocationViewModel>

@{
    ViewBag.Title = "Platser";
}

<div class="row">
    <div class="@Html.AttributeEncode(Request.IsAuthenticated ? "col-md-9" : "col-md-12" )">
        <h2>@ViewBag.Title <span class="pull-right"><button id="toggle-between-list-and-map" class="btn btn-primary">Lista / Karta</button></span></h2>
        <a href="@Url.Action("Create")"><i class="fa fa-plus"></i> Lägg till</a>
        <hr />
        <div id="locations-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Stad</th>
                        <th>Väder</th>
                        <th>&deg;C</th>
                        <th>Vind m/s</th>
                        <th>Vindriktning</th>
                        <th>Betyg</th>
                        @if (Request.IsAuthenticated)
                        {
                            <th>Betygsätt</th>
                            <th>Favorit</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var locationViewModel in Model)
                    {
                        <tr data-id="@locationViewModel.Location.Id" class="weather-item map-item">
                            <td hidden>
                                <form>
                                    <input class="cityLong" value="@locationViewModel.Location.Longitude" />
                                    <input class="cityLat" value="@locationViewModel.Location.Latitude" />
                                </form>
                            </td>
                            <td><a class="locationName" href="@Url.Action("Details", new { locationId = locationViewModel.Location.Id })">@locationViewModel.Location.Name</a></td>
                            <td class="cityName">@locationViewModel.Location.City</td>
                            <td><img alt="weather" class="weatherIcon" /></td>
                            <td class="cityTemp"></td>
                            <td class="cityWind"></td>
                            <td><span class="fa fa-location-arrow direction"></span></td>
                            <td class="location-rating">@locationViewModel.Rating</td>
                            @if (Request.IsAuthenticated)
                            {
                                <td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <a data-rating="@i" class="rate-location"><i class="fa @Html.AttributeEncode(locationViewModel.UserRating >= i ? "fa-star" : "fa-star-o") text-warning"></i></a>
                                    }
                                </td>
                                <td><a class="toggle-favorite"><i class="fa @Html.AttributeEncode(locationViewModel.Favorite ? "fa-heart" : "fa-heart-o") text-danger"></i></a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="locations-map" class="hide-content">
            <div id="map_wrapper">
                <div id="map_canvas" class="mapping"></div>
            </div>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-3">
            <h2>Favoriter</h2>
            <div id="favorite-locations">
                @Html.Action("LocationFavorites")
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/locations.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="~/Scripts/weather.js"></script>
    <script src="~/Scripts/google-maps.custom.js"></script>
}