@model IEnumerable<Drakflygaren.ViewModels.LocationViewModel>

@{
    ViewBag.Title = "Platser";
}

<div class="row">
    <div class="@Html.AttributeEncode(Request.IsAuthenticated ? "col-md-9" : "col-md-12" )">
        <h2>@ViewBag.Title <span class="pull-right"><button id="toggle-between-list-and-map" class="btn btn-primary">Lista / Karta</button></span></h2>
        <a href="@Url.Action("Create")"><i class="fa fa-plus"></i> Lägg till</a>
        <hr />
        <div id="locations-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Stad</th>
                        <th>Väder</th>
                        <th>Vind</th>
                        <th>Betyg</th>
                        @if (Request.IsAuthenticated)
                        {
                            <th>Betygsätt</th>
                            <th>Favorit</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var locationViewModel in Model)
                    {
                        <tr data-id="@locationViewModel.Location.Id">
                            <td>@locationViewModel.Location.Name</td>
                            <td>@locationViewModel.Location.City</td>
                            <td><i class="fa fa-sun-o text-warning"></i></td>
                            <td>2 m/s</td>
                            <td>@locationViewModel.Rating</td>
                            @if (Request.IsAuthenticated)
                            {
                                <td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <a data-rating="@i" class="rate-location"><i class="fa @Html.AttributeEncode(locationViewModel.UserRating >= i ? "fa-star" : "fa-star-o") text-warning"></i></a>
                                    }
                                </td>
                                <td><a class="toggle-favorite"><i class="fa @Html.AttributeEncode(locationViewModel.Favorite ? "fa-heart" : "fa-heart-o") text-danger"></i></a></td>
                            }
                            <td>
                                <a href="@Url.Action("Details", new { locationId = locationViewModel.Location.Id })"><i class="fa fa-eye"></i></a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="@Url.Action("Edit", new { locationId = locationViewModel.Location.Id })"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", new { locationId = locationViewModel.Location.Id })"><i class="fa fa-trash-o"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="locations-map" class="hide-content">
            <div id="map_wrapper">
                <div id="map_canvas" class="mapping"></div>
            </div>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-3">
            <h2>Favoriter</h2>
            <div id="favorite-locations">
                @Html.Action("LocationFavorites")
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/locations.js"></script>
    <script>
        jQuery(function ($) {
            // Asynchronously Load the map API
            var script = document.createElement('script');
            script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyDOP-hCNyiygNNOURvqXC4A9VssSMieFGo&sensor=false&callback=initialize";
            document.body.appendChild(script);
        });

        function initialize() {
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: 'roadmap'
            };

            // Display a map on the page
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setTilt(45);

            // Multiple Markers
            var markers = [];

            // Info Window Content
            var infoWindowContent = [];

            @foreach (var locationViewModel in Model)
            {
                <text>
            markers.push([
                '@locationViewModel.Location.Name',
                @locationViewModel.Location.Latitude,
                @locationViewModel.Location.Longitude])

            infoWindowContent.push([
                '<div class="info_content">' +
                '<h3>@locationViewModel.Location.Name</h3>' +
                '<p>@locationViewModel.Location.City - @locationViewModel.Location.Creator.UserName</p>' + '</div>'])
            </text>
            }

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            // Loop through our array of markers & place each one on the map
            for (i = 0; i < markers.length; i++) {
                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0]
                });

                // Allow each marker to have an info window
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infoWindow.setContent(infoWindowContent[i][0]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                // Automatically center the map fitting all markers on the screen
                map.fitBounds(bounds);
            }

            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                //this.setZoom(14);
                google.maps.event.removeListener(boundsListener);
            });
        }
    </script>
}