@{
    ViewBag.Title = "Startsida";
}

<div class="row">
    <div id="kite-image" class="col-md-12">
        <div class="col-md-4 col-md-offset-8">
            <h1>Välkommen till Drakflygaren!</h1>
            <p class="lead"></p>
            <p><a href="@Url.Action("Register", "Account")" class="btn btn-lg btn-info">Registrera dig idag!</a></p>
            <p>Är du redan medlem?</p>
            <p><a href="@Url.Action("Login", "Account")" class="btn btn-default">Logga in</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Hitta de bästa platserna</h2>
        <p>
            Här har vi samlat de allra bästa platserna för drakflygning!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Locations")">Hitta nu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delta i event & tävlingar</h2>
        <p>Emellanåt kommer vi anordna event och tävlingar av olika slag. Håll dig uppdaterad här!</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Event")">Gå med idag &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Besök vårat forum</h2>
        <p>Håll kontakten med andra drakflygare via vårt forum, där ni kan diskutera allt inom drakflygning. Tryck på knappen för att börja chatta!</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Forums")">Börja chatta &raquo;</a></p>
    </div>
</div>