@{
    ViewBag.Title = "Startsida";
}

<div class="row">
    <div id="kite-image" class="col-md-12">
        <div class="col-md-4 col-md-offset-8">
            <h1>Whaddap!</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="@Url.Action("Register", "Account")" class="btn btn-lg btn-info">Registrera dig idag!</a></p>
            <p>Är du redan medlem?</p>
            <p><a href="@Url.Action("Login", "Account")" class="btn btn-default">Logga in</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Hitta de bästa platserna</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-info" href="@Url.Action("Index", "Locations")">Hitta nu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delta i event och tävlingar</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-info" href="@Url.Action("Index", "Event")">Join the fun &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Besök vårat forum</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-info" href="@Url.Action("Index", "Forums")">Börja chatta &raquo;</a></p>
    </div>
</div>