@model Drakflygaren.ViewModels.EventViewModel

@{
    ViewBag.Title = Model.Event.Name;
}

<div class="row">
    <div data-id="@Model.Event.EventId" class= "col-md-9" map-item weather-item">
        <h2>
            <span class="locationName">@ViewBag.Title</span>
            @if (Request.IsAuthenticated)
            {
                <span class="pull-right">
                    <a class="toggle-favorite"><i class="fa @Html.AttributeEncode(Model.Liked ? "fa-thumbs-up" : "fa-thumbs-o-up") text-danger"></i></a>
                </span>
            }
        </h2>
        <h4>Plats: <span class="cityName">@Model.Event.Location.Name</span></h4>
        <p>Tillagd av: @Model.Event.Creator.UserName</p>
        <p>@Model.Event.Description</p>
       
        <div id="map_wrapper">
            <a href="@Url.Content(ViewBag.ImageUrl)"><img src="@Model.Event.ImageUrl" class="img-responsive" style="width:80%; height:100%;" /></a>
        </div>
    </div>
        <div class="col-md-3">
            <h2>
                Deltagare
                <span class="pull-right">
                    <a class="toggle-favorite"><i class="fa @Html.AttributeEncode(Model.Liked ? "fa-user-times" : "fa-user-plus") text-danger"></i></a>
                </span>
            </h2>
        </div>
</div>
<p>
    @if (ViewBag.CurrentUser == Model.Event.CreatorId || ViewBag.IsAdmin == true)
    {
        @Html.ActionLink("Ändra", "Edit", new { id = Model.Event.EventId })
        <span> | </span>
            @Html.ActionLink("Ta bort eventet", "DeleteEvent", new { id = Model.Event.EventId })
        <span> | </span>
    }
   
    @Html.ActionLink("Tillbaka till listan", "Index")


</p>


    @section scripts {
        <script src="~/Scripts/events.js"></script>
    }

    @*<div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventDateTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd>
                <img src="@Url.Content(ViewBag.ImageUrl)" class="img-responsive" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Creator.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Creator.UserName)
            </dd>
        </dl>
    </div>
    <p>
        @* Fullösning med <span> här(?) får error med bara | efter sista parantesen.*@
   @*@ @if (ViewBag.CurrentUser == Model.CreatorId || ViewBag.IsAdmin == true)
    {
        @Html.ActionLink("Ändra", "Edit", new { id = Model.EventId }) 
        <span> | </span>
        @Html.ActionLink("Ta bort eventet", "DeleteEvent", new { id = Model.EventId })
    }
    <span> | </span>
    @Html.ActionLink("Back to List", "Index")
</p>*@