@model IEnumerable<Drakflygaren.Models.Event>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@Html.ActionLink("Skapa nytt event", "Create")
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Kategori</th>
            <th>Beskrivning</th>
            <th>Plats</th>
            <th>När?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Details", new { id = item.EventId })</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.Location.Name</td>
                <td>@item.EventDateTime</td>
            </tr>
        }
    </tbody>
</table>