@model IEnumerable<Drakflygaren.ViewModels.EventViewModel>
@{
    ViewBag.Title = "Event";
}

@section scripts {
    <script src="~/Scripts/events.js"></script>
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Skapa nytt event", "Create")
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Kategori</th>
            <th>Beskrivning</th>
            <th>Plats</th>
            <th>När?</th>
            <th>Gilla</th>
            <th>Gillare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventViewModel in Model)
        {
            <tr data-id="@eventViewModel.Event.EventId">
                <td>@Html.ActionLink(eventViewModel.Event.Name, "Details", new { id = eventViewModel.Event.EventId })</td>
                <td>@eventViewModel.Event.Category.CategoryName</td>
                <td>@eventViewModel.Event.Description</td>
                <td>@eventViewModel.Event.Location.Name</td>
                <td>@eventViewModel.Event.EventDateTime</td>
                <td><a class="like-event-button"><i class="fa @Html.AttributeEncode(eventViewModel.Liked ? "fa-thumbs-up" : "fa-thumbs-o-up")"></i></a></td>
                <td class="event-likes-count">@eventViewModel.Event.EventLikes.Count</td>
            </tr>
        }
    </tbody>
</table>