@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        if (string.IsNullOrEmpty(ViewBag.ImageUrl))
        {
            ViewBag.ImageUrl = "https://www.drupal.org/files/profile_default.jpg";
        }
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="user-nav" href="@Url.Action("Details", "Users", new { username = User.Identity.Name })" title="Manage"><img class="img-circle img-avatar" src="@ViewBag.ImageUrl" alt="profile pic" /> @User.Identity.Name</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrera dig", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
