@model Drakflygaren.ViewModels.TopicViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Topic.Name</h2>
<h4>@Model.Topic.Description<span class="pull-right">@Model.Topic.CreatedOn</span></h4>
<hr />
<div class="container list-group">

    @foreach (var comment in Model.Topic.Comments)
    {
        <div>
            <a href="@Url.Action("ReportPost", "Topics", new {reportedPostId = comment.Id })" class="fa fa-exclamation-triangle"></a>
        </div>
        <div class="list-group-item">
            <p>
                <span class="pull-right text-muted">@comment.User.UserName - @comment.CommentDateTime</span>
            </p>
            <p>@comment.Text</p>
        </div>
    }
</div>

<div>
    @using (Html.BeginForm("SendPost", "Topics", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Topic.TopicId)

        <div class="form-group">
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = "5" })
        </div>

        <input type="submit" class="btn btn-success" />
    }
</div>
<hr />
<p>
    @Html.ActionLink("Tillbaka till forum", "Index")
</p>
