@model IEnumerable<Drakflygaren.ViewModels.TopicViewModel>
@using Drakflygaren.Helpers

@{
    ViewBag.Title = "Forum";
}

@section scripts {
    <script src="~/Scripts/topic.js"></script>
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Skapa ny tråd", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Senaste inlägget</th>
            <th>Kommentarer</th>
            <th>Visningar</th>
            <th>Skapad av</th>
            @if (User.Identity.IsAuthenticated)
            {
            <th>Gilla</th>
            }
            <th><span class="fa fa-thumbs-up"></span></th>
            <th></th>

        </tr>
    </thead>
    <tbody>


        @foreach (var topicViewModel in Model)
        {
            <tr data-id="@topicViewModel.Topic.TopicId">
                <td>@Html.ActionLink(topicViewModel.Topic.Name, "Details", new { id = topicViewModel.Topic.TopicId })</td>
                <td>@topicViewModel.Topic.Description</td>
                <td>@(topicViewModel.Topic.Comments.Any() ? DragonHelper.GetTimeSpan(topicViewModel.Topic.Comments.Last().CommentDateTime) : "-")</td>
                <td>@topicViewModel.Topic.Comments.Count</td>
                <td>@topicViewModel.Topic.Views.Count</td>
                <td>@topicViewModel.Topic.CreatedBy.UserName</td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td><a class="like-topic-button"><i class="fa @Html.AttributeEncode(topicViewModel.Liked ? "fa-thumbs-up" : "fa-thumbs-o-up")"></i></a></td>
                }
                <td class="topic-likes-count">@topicViewModel.Topic.TopicLikes.Count</td>
                <td>
                    @if (User.IsInRole("Admin") || User.Identity.Name == topicViewModel.Topic.CreatedBy.UserName)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = topicViewModel.Topic.TopicId })
                    }
                </td>


            </tr>




        }
    </tbody>
</table>

