@model IEnumerable<Drakflygaren.ViewModels.TopicViewModel>
@using Drakflygaren.Helpers

@{
    ViewBag.Title = "Forum";
}

@section scripts {
    <script src="~/Scripts/topic.js"></script>
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Skapa ny tråd", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Senaste inlägget</th>
            <th>Kommentarer</th>
            <th>Visningar</th>
            <th>Skapad av</th>
            <th>Gilla</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>


        @foreach (var topicViewModel in Model)
        {
            <tr data-id="@topicViewModel.Topic.TopicId">
                <td>@Html.ActionLink(topicViewModel.Topic.Name, "Details", new { id = topicViewModel.Topic.TopicId })</td>
                <td>@topicViewModel.Topic.Description</td>
                <td>@(topicViewModel.Topic.Comments.Any() ? DragonHelper.GetTimeSpan(topicViewModel.Topic.Comments.Last().CommentDateTime) : "-")</td>
                <td>@topicViewModel.Topic.Comments.Count</td>
                <td>@topicViewModel.Topic.Views.Count</td>
                <td>@topicViewModel.Topic.CreatedBy.UserName</td>
                <td><a class="like-topic-button"><i class="fa @Html.AttributeEncode(topicViewModel.Liked ? "fa-thumbs-up" : "fa-thumbs-o-up")"></i></a></td>
                <td class="topic-likes-count">@topicViewModel.Topic.TopicLikes.Count</td>
                <td>
                    @if (User.IsInRole("Admin") || User.Identity.Name == topicViewModel.Topic.CreatedBy.UserName)
                {
                        @Html.ActionLink("Delete", "Delete", new { id = topicViewModel.Topic.TopicId })
                    }
                </td>

            
            </tr>




        }
    </tbody>
</table>
@*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                Kommentarer
            </th>
            <th>
                Visningar
            </th>
            <th>
                Skapad av
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>



        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                Kommentarer
            </th>
            <th>
                Visningar
            </th>
            <th>
                Skapad av
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.TopicId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @item.Comments.Count
                </td>
                <td>
                    @item.Views.Count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.UserName)

                </td>






                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TopicId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TopicId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
                    </td>
                }
            </tr>
        }

    </table>*@
