@model Drakflygaren.Models.Comment


@{
    ViewBag.Title = "Create";
}

<h2>Skapa tråd</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Topic, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Topic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Topic, "", new { @class = "text-danger" })
        </div>
        </div>
}

<div class="form-group">
    @Html.LabelFor(m => m.User, htmlAttributes: new { @class = "control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.User, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
    </div>
    </div>

<div class="form-group">
    @Html.LabelFor(m => m.Text, htmlAttributes: new { @class = "control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
    </div>
    </div>
<div class="form-group">
    @Html.LabelFor(m => m.CommentDateTime, htmlAttributes: new { @class = "control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.CommentDateTime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.CommentDateTime, "", new { @class = "text-danger" })
        </div>
    </div>


<div class="form-group">
    <input type="submit" value="Lägg till tråd" class="btn btn-success form-control" />
</div>
