
@{
    ViewBag.Title = "Forum";
}

<h2>@ViewBag.Title <span class="pull-right"><button id="topics" class="btn btn-primary">Topics</button></span></h2>
<a href="@Url.Action("Create")"><i class="fa fa-plus"></i> Skapa ny tråd</a>
<hr />
<div id="lista med trådar">
    <table class="table table-striped">
<thead>
    <tr>
      <th>Namn</th>
        <th>Beskrivning</th>
        <th>Ämne</th>
    </tr>
</thead>
    <tbody  >

        @foreach (var forum in Model)
        {
            <tr>
                <td>@forum.Name</td>
                <td>@forum.Desciption</td>
                <td>@forum.Topics.Count</td>
            </tr>
        }

    </tbody>
    </table>
    </div>


