@model IEnumerable<Drakflygaren.Models.Report>
@using Drakflygaren.Models

@{
    ViewBag.Title = "ReportedComments";
}

<h2>ReportedComments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Rapporterad användare
        </th>
        <th>
            Rapporterad kommentar
        </th>
        <th>
            Anledning
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CommentToReport)
            </th>*@
        <th></th>
    </tr>
    -
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CommentToReport)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <!-- Button trigger modal -->
                <form action="/Admin/ChoosenComment" method="get">
                    <input type="hidden" value="@item.Id" name="commentId" />
                    <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"type="submit">Detaljer</button>
                </form>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detaljer</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("ChoosenComment");
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                <input type="button" class="btn btn-primary" value="Ta bort kommentaren" />
                <input type="button" class="btn btn-primary" value="Låt kommentaren vara kvar" />
            </div>
        </div>
    </div>
</div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })</script>